form {
    display: flex;
    flex-direction: column;
}

.titulo-contacto {
    @include titulos;
}

textarea {
    height: 250px !important;
}

.btn-contacto {
    @include botones;
}

main {
    h2 {
        font-size: 30px;
        color: $color-general3;
        margin: 0;
        padding: 15px;
        text-align: center;
    }

}

.container-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe {
        box-shadow: $sombra-cajas;
        height: 350px;
    }
}