
// fuentes
$font1: Kanit, sans-serif;
$font2: Oswald, sans-serif;
$font3: 'Bebas Neue', sans-serif;
$font4: Poppins, sans-serif;

// paleta colores
$bg-color-general: #1b512d;
$sombra-cajas: 5px 5px 10px black;

@mixin titulos {
    color: #36066a;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0px 0px 10px #ffffff;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

@mixin botones {
    background-color: green;
    border-color: green;
    transition: all 0.5;
    &:hover, &:active{
        background-color: rgb(0, 82, 0);
        border-color: rgb(0, 82, 0);
    }
}
